{{#each products}}
<div class="col-md-12 ">
    <div class="box-product">
        <div class="product-info">
            <div class="image-product">
                <img src="{{this.main_image}}" alt="{{this.description}}">
            </div>
            <div class="name-product">
                <div class="title">{{this.description}}</div>
                <a href="{{../config.cartPath}}/producto/eliminar?product_id={{this.salable_id}}&cart_id={{../cart._id}}">
                    <img src="{{../config.sourcePath}}/brands/{{../brand}}/images/icons/trash.png" class="icon-trash" />
                </a>
                <span class="price">${{this.web_price}}</span>
            </div>
        </div>
        <div class="cantidad">
            <div class="form-group">
                <label class="txt-cantidad">Cantidad</label>
                <div class="box-select-cantidad">
                    
                    <!-- COUNTER -->
                    <div class="flex-w bo5 of-hidden w-size17">
						<button class="btn-num-product-down color1 flex-c-m size7 bg8 eff2" data-salableid="{{this.salable_id}}" data-quantity="{{this.quantity}}" data-action="menor">
							<i class="fs-12 fa fa-minus" aria-hidden="true"></i>
						</button>

						<input class="size8 m-text18 t-center num-product" type="number" name="num-product-{{this.salable_id}}" id="num-product-{{this.salable_id}}" value="{{this.quantity}}" disabled="disabled">

						<button class="btn-num-product-up color1 flex-c-m size7 bg8 eff2" data-salableid="{{this.salable_id}}" data-quantity="{{this.quantity}}" data-action="mayor">
							<i class="fs-12 fa fa-plus" aria-hidden="true"></i>
						</button>
					</div>
					<!-- COUNTER -->
                </div>
            </div>
        </div>
        
    </div>
</div>
{{/each}}