<!DOCTYPE html>
<html lang="en">
<head>
{{> header_resources}}
<meta name="robots" content="noindex">
<meta name="googlebot" content="noindex">
</head>
<body class="">
<!-- <body class="animsition"> -->


<header class="header1">
  <!-- Header desktop -->
  <div class="container-menu-header">
    <div class="wrap_header">
    <!-- Menu -->
      <div class="wrap_menu">
        <nav class="menu">
          <ul class="main_menu">
            <li>
              <a href="{{config.adminPath}}/panel">Inicio</a>
            </li>
            <li>
              <a href="{{config.adminPath}}/productos">Productos</a>
            </li>
            <li>
              <a href="{{config.adminPath}}/categorias">Categorías</a>
            </li>
            {{#if_eq brand "mayfer"}}
              <li>
                <a href="{{config.adminPath}}/banners">Banners</a>
              </li>
            {{/if_eq}}
            <li>
              <a href="{{config.adminPath}}/envios">Envíos</a>
            </li>
            <li>
              <a href="{{config.adminPath}}/pedidos">Pedidos Web</a>
            </li>
            <li>
              <a href="{{config.adminPath}}/mensajes">Mensajes</a>
            </li>
            <li>
              <a href="{{config.adminPath}}/documentacion">Documentacion</a>
            </li>
            {{#if_eq brand "geza"}}
              <li>
                <a href="{{config.adminPath}}/carta">Carta</a>
              </li>
              <li>
                <a href="{{config.adminPath}}/carta-email">Email</a>
              </li>
              <li>
                <a href="{{config.adminPath}}/precios">Precios</a>
              </li>
            {{/if_eq}}
            <li>
              <a href="{{config.sitePath}}" target="_blank">Ver Sitio</a>
            </li>
        </nav>
    </div>
  </div>

    <!-- Header Mobile -->
    <div class="wrap_header_mobile">
      <!-- Logo moblie -->
      <a href="{{config.links.home}}?ref=logo" class="logo-mobile">
        <img src="{{config.sourcePath}}/brands/{{brand}}/images/logos/logo.png" alt="IMG-LOGO">
      </a>
      <!-- Button show menu -->
      <div class="btn-show-menu">
        <!-- Header Icon mobile -->
        <div class="header-icons-mobile"></div>
        <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </div>
      </div>
    </div>

    <!-- Menu Mobile -->
    <div class="wrap-side-menu" >
      <nav class="side-menu">
        <ul class="main-menu">
          <li class="item-menu-mobile">
            <a href="{{config.links.home}}">Inicio</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>