<section class="shipping bgwhite p-t-62 p-b-46">
	<div class="flex-w p-l-15 p-r-15">
		<div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 respon1">
			<img src="{{config.sourcePath}}/brands/{{brand}}/images/box2.png" width="290" alt="promo1">
		</div>

		<div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 bo2 respon2">
			<img src="{{config.sourcePath}}/brands/{{brand}}/images/box1.png" width="290" alt="promo1">
		</div>

		<div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 respon1">
			<img src="{{config.sourcePath}}/brands/{{brand}}/images/box3.png" width="290" alt="promo1">
		</div>
	</div>
</section>