
<div class="row rowMp">
  <div class="row containerMp">
    <div class="col-md-3 boxMp">
      <a target="_blank" class="payment-data-icon" href="{{config.links.payments}}" data-title="Promociones bancarias">
        <img alt="" src="{{config.sourcePath}}/brands/{{brand}}/images/card-icon.svg" class="imageMp">
      </a>
      <div class="payment-data-title">Hasta 6 cuotas sin interés</div>
      <div class="payment-data-subtitle">
        <a target="_blank" href="{{config.links.payments}}" class="payment-data-subtitle-href">Ver promociones bancarias</a>
      </div>
    </div>

        <div class="col-md-3 boxMp">
      <a target="_blank" class="payment-data-icon" href="{{config.links.payments}}" data-title="Promociones bancarias">
        <img alt="" src="{{config.sourcePath}}/brands/{{brand}}/images/qr-icon.svg" class="imageMp">
      </a>
      <div class="payment-data-title">QR hasta 6 cuotas sin interés</div>
      <div class="payment-data-subtitle">
        <a target="_blank" href="{{config.links.payments}}" class="payment-data-subtitle-href">Ver promociones bancarias</a>
      </div>
    </div>

        <div class="col-md-3 boxMp">
      <a target="_blank" class="payment-data-icon" href="{{config.links.shipping}}" data-title="Promociones bancarias">
        <img alt="" src="{{config.sourcePath}}/brands/{{brand}}/images/envios-icon.svg" class="imageMp">
      </a>
      <div class="payment-data-title">Envios a todo el país</div>
      <div class="payment-data-subtitle">
        <a target="_blank" href="{{config.links.shipping}}" class="payment-data-subtitle-href">Consultar Localidad</a>
      </div>
    </div>

        <div class="col-md-3 boxMp">
      <a target="_blank" class="payment-data-icon" href="{{config.links.payments}}" data-title="Promociones bancarias">
        <img alt="" src="{{config.sourcePath}}/brands/{{brand}}/images/cardMP-icon.svg" class="imageMp">
      </a>
      <div class="payment-data-title">Promociones de MercadoPago</div>
      <div class="payment-data-subtitle">
        <a target="_blank" href="{{config.links.payments}}" class="payment-data-subtitle-href">Ver promociones bancarias</a>
      </div>
    </div>
    
  </div>
</div>