<link rel="stylesheet" href="{{config.sourcePath}}/brands/{{brand}}/css/mercadopago.css" type="text/css">
<main class="main-mp">
   	
     <div class="container-fluid">
       <div class="row justify-content-center box-general-view-mp">
       
         <div class="col-md-12 total-card-mp">
           <div class="row">

           	{{#each data}}
				    
				<div class="col-md-2 card-mp">
	              <a href="" data-toggle="modal" data-leyend="{{this.issuer.name}} - {{#if_eq this.recommended_message null}}{{#each this.payment_methods}}{{this.name}}{{/each}} {{else}}{{this.recommended_message}}{{/if_eq}}" data-target="#exampleModalWindow" data-id="{{this.id}}" class="exampleModal">
                  <div class="col-md-6">
	                  <img src="{{this.picture}}" width="100" alt="" title="" onerror="this.src='{{../no_img}}'">
	                </div>
                  <div class="col-md-6">
  	               <ul>
                      <li class="info">{{this.issuer.name}}</li>
  	                  <li class="cuotas">
    	                 	{{#if_eq this.recommended_message null}}
    	                 		{{#each this.payment_methods}}
    		            			  {{this.name}}
                          {{/each}}
    		        		    {{else}}
    	                 	  {{this.recommended_message}}
    	                 	{{/if_eq}}
  	                  </li>
  	                </ul>
                  </div>
	               </a>
	             </div>
		   	{{/each}}
             
           </div>
         </div>
       </div>
       <div class="modal fade" id="exampleModalWindow" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">

            <div class="modal-header">
              <h5 class="modal-title" id="meli_financiacion"></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" id="close">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="img-brand col-md-4">
                  <div class="img">
                    <img id="meli_imagen" width="250" src="" alt="" title="" onerror="this.src='{{no_img}}'">
                  </div>
                  <div class="costo-financiero">
                    <span id="meli_fecha"></span>
                  </div>
                  <div class="info-costo">
                      <h4 id="meli_costo_leyenda"></h4>
                      <h3 id="meli_costo"></h3>
                  </div>
                </div>
                <div class="col-md-8">
                  <p class="paragraph" id="meli_Legales"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

     </div>
   </main>
   <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
   <script src="{{config.sourcePath}}/js/mercadopago.js"></script>