<section class="selectorGeza">
  <div class="inner-wrapper">
    
      <h3 class="m-text5 t-center p-t-20">
        Nuestras Categorías
      </h3>
    
    <div class="boxes-list-content">
      <div class="boxes-list-carrusel">          
          <a href="{{config.sitePathComAr}}{{config.links.products}}/tu-cocina/5ff2f33ea258af0017aa9c24" class="" style="" aria-hidden="true" tabindex="0">
            <img src="{{config.sourcePath}}/brands/{{brand}}/images/slider_mini/cocina.png" alt="Consolidar deudas">
            <span class="box_name">Cocina</span>
          </a>
          <a href="{{config.sitePathComAr}}{{config.links.products}}/los-pisos/5ff30733deaeb50017ee5fc6" class="" style="" aria-hidden="true" tabindex="-1">
            <img src="{{config.sourcePath}}/brands/{{brand}}/images/slider_mini/pisos.png" alt="Mejorá tu casa">
            <span class="box_name">Pisos</span>
          </a>
          <a href="{{config.sitePathComAr}}{{config.links.products}}/la-ropa/5ff30737deaeb50017ee5fc7" class="" style="" aria-hidden="true" tabindex="-1">
            <img src="{{config.sourcePath}}/brands/{{brand}}/images/slider_mini/ropa.png" alt="Préstamos Personales">
            <span class="box_name">Ropa</span>
          </a>
          <a href="{{config.sitePathComAr}}{{config.links.products}}/los-insectos-y-jardin/5ff3073bdeaeb50017ee5fc8" class="" style="" aria-hidden="true" tabindex="-1">
            <img src="{{config.sourcePath}}/brands/{{brand}}/images/slider_mini/jardin.png" alt="Disfrutá un viaje">
            <span class="box_name">Jardín</span>
          </a>
          <a href="{{config.sitePathComAr}}{{config.links.products}}/tu-hogar/5ff2f807a258af0017aa9c29" class="" style="" aria-hidden="true" tabindex="-1">
            <img src="{{config.sourcePath}}/brands/{{brand}}/images/slider_mini/hogar.png" alt="Tu auto">
            <span class="box_name">Hogar</span>
          </a>
      </div>
    </div>
  </div>
</section>